<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images\favicon.svg' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <script src="{% static 'js/base.js' %}"></script>
    {% block head-content %}

    {% endblock %}

</head>

<body>
    <a href="#" onclick="topFunction()"><img src="{% static 'images/top.png' %}" id="top"></a>

    <div class="topnav" id="myTopnav">
        <a href="{% url 'index' %}" style="all: unset; cursor:pointer;">
            <img src="{% static 'images/logo.png' %}" id="logo">
        </a>

        {% if user.is_authenticated %}
        <!-- Here will come the 'my account' dropdown navbar link -->
        <a href="#" id="accountpage" onmouseover="block()" onmouseout="none()"> My Account</a>
        <div id="dropdown" onmouseover="block()" onmouseout="none()">
            <a href="{% url 'profile' %}">Profile</a>
            <a href="{% url 'orders' %}">Orders</a>
            <a href="{% url 'advertisements' %}">Advertisements</a>
            <a href="{% url 'logout' %}">Logout</a>
        </div>
        {% else %}
        <a href="{% url 'login' %}" id="loginpage"> Login/Signup</a>
        {% endif %}

        <a href="{% url 'aboutUs' %}" id="aboutpage"> About Us</a>
        <a href="{% url 'sellAProduct' %}" id="sellpage"> Sell A Product</a>
        <a href="{% url 'buyAProduct' %}" id="buypage"> Buy A Product</a>
        <a href="{% url 'index' %}" id="homepage"> Home</a>
        <a class="icon" onclick="myFunction()">
            <i class="material-icons" style="font-size: 4vw; color:#B54D47; cursor:pointer;" id="menu">menu</i>
        </a>
    </div>
    {% block body-content %}
    {% endblock %}
    <footer style="bottom: 0;">
        Copyright @2021 PassedOnWisdom | <a href="{% url 'tnc' %}" style="color: #fff;">Terms and Conditions</a>
    </footer>
</body>

</html>

<!--Yellow: #F0B742
Red: #B54D47
Dark Grey: #1a1919-->

<!-- White: #F9F9F8
Smoke Blue: #3A475D
Dark Blue: #212537 -->