{% extends 'base.html' %}

{% block head-content %}

{% load static %}
<title>Unavailable</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/unavailableProduct.css' %}">
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

{% endblock %}


{% block body-content %}

<div id="main">
    <div id="box">
        <h1>!Regret!</h1>
        <h3>The Product with Selected Filters is Out Of Stock!</h3>
        <h5>Kindly Try Again Later or Try Different Filters.</h5>
    </div>
</div>

{% endblock %}